.game-card {
  padding: 16px;
  background-color: #1A1A1A;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  &__header {
    margin-bottom: 16px;
    color: #FFF;
  }

  &__image-container {
    display: flex;
    justify-content: start;
    align-items: center;
  }

  &__image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;

    padding: 0 20px 20px 0px;
  }

  &__content {
    text-align: left;
  }

  &__title {
    font-size: 1.5rem;
    margin-bottom: 8px;
    color: #F7F7F8;
  }

  &__text {
    font-size: 1rem;
    color: #B5B6C4;
  }
}
