.game-card-section {
    margin: 16px 0;
    width: 100vw;
    padding: 4rem 2rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    user-select: none;
  
    &__title {
      font-size: 2rem;
      margin-bottom: 8px;
      background: linear-gradient(to right, #5093f6 15%, #3271ee);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  
    &__text {
      font-size: 1.2rem;
      margin-bottom: 16px;
      color: #B5B6C4;
    }
  
    &__cards {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 16px;
    }
  
    .game-card {
      flex: 1; // Ajusta a largura dos cartões para serem iguais
      box-sizing: border-box;
      max-width: 400px;
    }
  }